* text=auto !eol
/README -text
ctypesgencore/printer_json/__init__.py -text
ctypesgencore/printer_json/printer.py -text
ctypesgencore/printer_json/test.py -text
ctypesgencore/printer_python/__init__.py -text
ctypesgencore/printer_python/defaultheader.py -text
ctypesgencore/printer_python/preamble.py -text
ctypesgencore/printer_python/printer.py -text
ctypesgencore/printer_python/test.py -text
demo/demoapp.c -text
demo/demoapp.py -text
demo/demolib.c -text
demo/demolib.h -text
demo/pydemolib.py -text
test/gen-parser-outputs -text
test/test-headers/func_int_int.h -text
test/test-headers/func_int_int.json -text
test/test-headers/func_unnamed_param.h -text
test/test-headers/func_unnamed_param.json -text
test/test-headers/func_void_void.h -text
test/test-headers/func_void_void.json -text
test/test-headers/macro_constant.h -text
test/test-headers/macro_constant.json -text
test/test-headers/macro_divide.h -text
test/test-headers/macro_divide.json -text
test/test-headers/macro_mod.h -text
test/test-headers/macro_mod.json -text
test/test-headers/macro_multiply.h -text
test/test-headers/macro_multiply.json -text
test/test-headers/macro_params.h -text
test/test-headers/macro_params.json -text
test/test-headers/macro_stringify.h -text
test/test-headers/macro_stringify.json -text
test/test-headers/macro_subtract.h -text
test/test-headers/macro_subtract.json -text
test/test-headers/macro_ternary.h -text
test/test-headers/macro_ternary.json -text
test/test-headers/struct.h -text
test/test-headers/struct.json -text
test/test-parser -text
test/testsuite.py -text
